body {
    background: rgb(255, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;

}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    background:rgb(255, 254, 220);
    border: 5px solid black;
    border-radius: 4px;
}

.box {
    flex: 1 1 auto;
    height: 25px;
    width: 25px;
    border: 1px solid #e5e5e5;
}

