body {
    background: rgb(255, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {


}

p {
    margin-top: 0px;
}

#boxContainer {
    display: flex;
}
#container {
    display: grid; 
    justify-content: center;
    margin:auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 650px;
    height: 650px;
    background:rgb(255, 254, 220);
    border: 5px solid black;
    border-radius: 4px;
}

.box {
    display: flex;
    border: 1px solid #e5e5e5;
}

:root {
    --numCols: 1;
    --numRows: 1;
}