body {
    font-family: 'Rock Salt', cursive;
    background: rgb(255, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0px;
    width: 200px;
}

#rgbButton {
    font-family: 'Rock Salt', cursive;
    border-radius: 5px;
    margin-left: 68px;
    background: linear-gradient(to left, #FF6663, #FEB144, #FDFD97, #9EE09E, #9EC1CF, #CC99C9);
}

#rgbButton:hover {
    color:rgb(255, 254, 189);
    cursor: pointer;
    transition: 0.07s;
}

#blackButton {
    font-family: 'Rock Salt', cursive;
    border-radius: 5px;
    margin-left: 83px;
    background: #000000;
    color: rgb(248, 230, 230);
}

#blackButton:hover {
    background:rgb(218, 200, 200);
    color:rgb(78, 67, 67);
    cursor: pointer;
    transition: 0.07s;
}

.slider {
    width: 150px;
    accent-color: black;
}

#resetButton {
    font-family: 'Rock Salt', cursive;
    border-radius: 5px;
    margin-left: 60px;
    padding: 5px 15px;
    background:rgb(248, 230, 230);
}

#resetButton:hover {
    background:rgb(218, 200, 200);
    color:rgb(78, 67, 67);
    cursor: pointer;
    transition: 0.07s;
}

p {
    margin-top: 0px;
    font-size: 13px;
}

.header {
    text-align: center;
}

#container {
    display: grid; 
    margin:auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 650px;
    height: 650px;
    background:rgb(255, 254, 220);
    border: 5px solid black;
    border-radius: 4px;
}